.class-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.main-container {
    display: flex;
}

.list-elements {
    overflow-y: auto;
    max-height: 150px;
}